/* ESTILOS PARA EL DROPDOWN DEL HEADER (AL FINAL DECIDÍ NO IMPLEMENTARLO) */
.custom-dropdown-toggle {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
  margin: 0 !important;
  color: inherit !important;
  cursor: pointer;
}

/*ALINEAR LOS LINKS DE INICIAR SESION A LA DERECHA EN DESKTOP
(NO FUNCIONA)

*/
@media (min-width: 768px) {
  .iniciar-sesion-link {
    margin-left: auto;
    text-align: right;
  }
} 

/* nav {
  border-bottom: 5px solid #213448 !important;
} */

