@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
html {

font-family: Ubuntu, system-ui, Avenir, Helvetica, Arial, sans-serif;
line-height: 1.5;
font-weight: 400;


/* background-color: #213448; */

text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
#root {
background: radial-gradient( #ECEFCA, #94B4C1);
min-height: 100vh;
}

* {
margin: 0;
padding: 0;
}

body {
font-family: 'Ubuntu', sans-serif;
background-color: #213448;
} 

ul {
    list-style-type:none;
    margin:auto;
}

.container {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #94B4C1;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.loader > * {
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

th {
    color: #ECEFCA;
}





